aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
distro
entrypoints
exceptiongroup
faiss-cpu  # Compatible with Python 3.11
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
groq
h11
httpcore
httpx
huggingface-hub
idna
importlib_metadata
InstructorEmbedding
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy-extensions
networkx
nltk
numexpr
numpy
openai
openapi-schema-pydantic
orjson
packaging
pandas
pillow
protobuf
pyarrow
pydantic
pydantic-core
pydeck
pygments
PyMySQL
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
six
smmap
sniffio
SQLAlchemy
streamlit
tenacity
tiktoken
toml
toolz
tornado
tqdm
typing-extensions
typing-inspect
tzdata
tzlocal
urllib3
validators
watchdog
yarl
zipp



